#logo{
    background-color: red;
    justify-content: center;
    align-content: stretch;
    height: 200px;
    width: 1350px;
    border-radius: 50%;
    display: flex;
    animation: rotation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}

.navi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: red;
    
}

.navi > div {
    width: 100px;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    text-align: right;

}

#slogan{
    display: flex;
    font-style: italic;
    justify-content: center;
    animation: slideacross;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: serif;
}

.munderproducts {
    display: flex;
    justify-content: space-evenly;
}

section {
    display: flex;
    height:500px;
    justify-content: center;
    align-content: center;
    padding: 10px;
    opacity: 0;
}

section:nth-child(1){
    background:lightblue; 
}

section:nth-child(2){
    background: lightcoral;
}

section:nth-child(3){
    background: lightgoldenrodyellow;
}


img.fun {
    display: flex;
    justify-content: center;
    
    height: 400px;
    width: 400px;

}

@keyframes fadin {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}



@keyframes rotation{
    0% {
        transform: rotate(90deg);
        opacity: .5;
    }
    50%{
        opacity: .75;
    }
    100%{
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes slideacross{
    0% {
        transform: translateX(50px);
    }
    
    25% {
        transform: translateX(-50px);
    }
    
    50% {
        transform: translateX(50px);
    }

    75% { 
        transform: translateX(-50px);
    }
    
    100% {
        transform: translateX(50px);
    }
}

