#logo{
    background-color: red;
    height: 200px;
    width: 1376px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: stretch;
    animation: rotation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

h2{
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: red;
}



.navi{
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: red;
   
    
    }
        a{
            display: flex;
            flex-direction: row;
            align-content: center;
            font-size: 25px;
            margin: 10px;
            padding: 10px;
            width: 200px;
            border: 5px; 
            font-size: 25px;
            border-style: solid;
            border-color: blue;
        }

        a:hover{
            border-style: solid;
            border-color: blue;
            background-color: lightgray;
            }

        
   


#slogan{
    display: flex;
    font-style: italic;
    justify-content: center;
    animation: slideacross;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: serif;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: red;
}

.munderproducts {
    display: flex;
    justify-content: space-evenly;
    
}

p.highs { 
    display: inline;
    font-size: 25px;

}

section {
    display: flex;
    height:500px;
    justify-content: center;
    align-content: center;
    padding: 10px;
    opacity: 0;
}

section.fadein {
    animation: fadein;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}

section:nth-child(1){
    background:lightblue; 
}

section:nth-child(2){
    background: lightcoral;
}

section:nth-child(3){
    background: lightgoldenrodyellow;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .5;
    }

    75% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}




img.fun {
    display: flex;
    justify-content: center;
    
    height: 400px;
    width: 400px;
    margin: 10px;
    padding: 20px
}

img.products.products-bigger {
    animation: big;
    animation-duration: .5s;
    
    
}





@keyframes rotation{
    0% {
        transform: rotate(90deg);
        opacity: .5;
    }
    50%{
        opacity: .75;
    }
    100%{
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes slideacross{
    0% {
        transform: translateX(50px);
    }
    
    25% {
        transform: translateX(-50px);
    }
    
    50% {
        transform: translateX(50px);
    }

    75% { 
        transform: translateX(-50px);
    }
    
    100% {
        transform: translateX(50px);
    }
}

@keyframes big{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(-360deg)
    }

}


